// src/styles.scss
@import 'bootstrap/dist/css/bootstrap.min.css';
//@import '@aws-amplify/ui-angular/theme.css';

body {
  background-color: #f8f9fa;
  min-height: 100vh;
}
/*
.container {
  min-height: 100vh;
}
*/