button.save-verify {
    background-color: #16a34a; // Tailwind's green-600
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out;
    margin-right: 20px;
  
    &:hover {
      background-color: #15803d; // Tailwind's green-700
    }
  }