/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #002D62;
  --secondary-color: #CE1126;
  --accent-color: #4BB4E6;
  --background-color: #F0F8FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.font-heading {
  font-family: 'Lato', sans-serif;
}
